@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-neon: #ccff00;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Space Grotesk', sans-serif;
  --font-script: 'Dancing Script', cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-white overflow-x-hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}